
.home-container h2{
    background-color: #E65462;
    color: white;
    font-size: 50px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    min-width: 800px;
}

.home-container p{
    background-color: #C7C7C7;
    color: black;
    padding: 15px;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    font-size: 20px;
}
