.member{
  display: flex;
  align-items: center;
  flex-direction: column; 
  border: solid;
  border-color:rgba(255, 255, 255, 0.3);
  border-width: 3px; 
  padding: 15px;
  position: relative;
  margin: 15px;
  background-color: #5c979b;
  border-radius: 20px;
}
#membercontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.names{
    font-size: 35px;
    margin:0px;
    align-self: start;
    margin-left: 15px;
}
.last {
    color: #9c0917;
}
.memText{
    padding: 15px;
    position: absolute;
    height: 230px;
    top: -5px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #418185;
    opacity: 0;
    font-size: 1.125rem;
}
.memImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.memRole {
    background-color: #d4b00c;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -30px;
    z-index: 3;
}