@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Nosifer&family=Pixelify+Sans:wght@500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #403d39;
    height: 100vh;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 2s;
}

.container div {
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 135px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.container .one {
    background-color: #f37610;
    left: 50%;
}

.container .two {
    background-color: #000000;
    transform: rotate(45deg);
}

.container .three{
    background-color: #f37610;
    transform: rotate(90deg);
}

.container .four {
    background-color: #000000;
    transform: rotate(135deg);
}

.container .five {
    background-color: #f37610;
    transform: rotate(180deg);
}

.container .six {
    background-color: #000000;
    transform: rotate(225deg);
}

.container .seven {
    background-color: #f37610;
    transform: rotate(270deg);
}

.container .eight {
    background-color: #000000;
    transform: rotate(315deg);
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #a2a2a2;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}

.spinner {
    margin: 10px;
}

#spinners {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 5px solid white;
    border-radius: 20px;

}

.sentences {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    border: 30px;
    background-color: #ccc5b9;
    margin: 50px;
    padding: 14px;
    border-radius: 60px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Nosifer', sans-serif;
    font-size: 50px;
}

.credits {
    color: #ccc5b9;
    op
    margin-bottom: 20px;
    font-size: 12px;
    font-family: 'Nosifer', sans-serif;
}